/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.search-group {
    margin-bottom: 20px;
}

.search-title {
    margin-right: 20px;
    font-weight: 500;
}

.search-input {
    margin-right: 20px;
}

.search-input input {
        border-radius: 10px;
}

.btn-search {
    padding: 0.16rem 0.75rem !important; 
}



.new-order-dialog {
    border: 1px solid black;
    width: 40%;
}

.order-header {
    border-bottom: 1px solid black;
}

.main-content .content .table thead tr th {
    background-color:#f1f1f1;
}

.add-customer span {
    border-bottom: 1px solid #1b6ec2;
    color: #1b6ec2;
}

.btn-add-customer {
    cursor: pointer;
}

.group-input {
    padding: 20px 20px;
    width: 600px !important;
}

.title-name {
    margin-right: 20px;
    font-weight: 500;
    padding: 10px 10px;
}


.order-item-title {
    margin-right: 20px;
    width: 30%;
    padding-left: 10%;
}

.order-item {
    margin-bottom: 20px;
    min-width: 40%;
}

.order-item select {
    min-width: 250px !important;
}

.btn-order {
    border: 1px solid black;
}

.btn-create-order {
    padding-right: 28%;
    padding-bottom: 20px;
}

.hidden {
    visibility: hidden;
}

.new-order-popup {
    border: 1px solid black;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fbfbfb;
}

.order-popup-title {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px;
}